body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

button {
    background-color: #fff;
    border: 1px solid #333;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f0f0f0;
}

main {
    padding: 2rem;
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 200px; /* Höhe der Galerie anpassen */
}

.gallery-item {
    max-width: 100px; /* Beispielgröße, je nach Bedarf anpassen */
    margin: 0 10px;
    transition: transform 0.3s ease, filter 0.3s ease, max-width 0.3s ease;
    cursor: pointer;
    filter: blur(5px);
}

.gallery-item.focused {
    transform: scale(1.5);
    filter: blur(0);
    max-width: 150px; /* Größe des fokussierten Bildes anpassen */
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.menu-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: calc(33.333% - 2rem);
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    max-width: 100%;
    border-radius: 8px;
}

.menu-item h3 {
    margin-top: 0.5rem;
}

.menu-item p {
    margin: 0.5rem 0;
}

.menu-item-price {
    font-weight: bold;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .menu-item {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 480px) {
    .menu-item {
        width: 100%;
    }
}
